.plate img{
    height: auto;
    width: 100%;
}

.plate{
    height: 100%;
    width: 11%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.plate h1, .plate h3{
    margin-top: 0;
    margin-bottom: 1%;
    font-weight: bold;
    font-size: small;
    font-family: "Oswald", sans-serif;
    color: rgb(225, 225, 225);
}